In [1]:
import pandas as pd
from pandasgui import show

In [2]:
df = pd.read_excel(r"F:\实验室\电网项目\服务器性能数据.xlsx", index_col=0)
df

                       日期     DATA_DT     内存负载  主机CPU平均负载
0     2020-03-01 01:00:00  1582995600  81.8242     2.8333
1     2020-03-01 02:00:00  1582999200  81.8145     3.1818
2     2020-03-01 03:00:00  1583002800  81.8092     3.0833
3     2020-03-01 04:00:00  1583006400  81.8042     3.0833
4     2020-03-01 05:00:00  1583010000  81.8333     2.5000
...                   ...         ...      ...        ...
2202  2020-05-31 19:00:00  1590922800  70.6183     2.0000
2203  2020-05-31 20:00:00  1590926400  70.5208     1.9167
2204  2020-05-31 21:00:00  1590930000  70.5608     1.7500
2205  2020-05-31 22:00:00  1590933600  70.5292     2.0000
2206  2020-05-31 23:00:00  1590937200  70.5800     1.9167

[2207 rows x 4 columns]

In [ ]:
show(df, settings={'block': True})